.sectionLink {
  &.active {
    cursor: default;
    color: #0f0f10;
    font-weight: bold;
  }
  &.notActive {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1390px) {
  .ui.left.rail {
    display: none !important;
  }
  #leftPageRail {
    display: none !important;
  }
}
