.directoryItemContent {
  &.active {
    cursor: default;
    .contentHeader {
      font-weight: bold;
      color: #000000;
    }
  }
  &.notActive:hover {
    .contentHeader {
      text-decoration: underline;
    }
  }
}

.directoryItemContent .description {
  padding-left: 10px;
}

@media screen and (max-width: 1390px) {
  .ui.right.rail {
    display: none !important;
  }
  #rightPageRail {
    display: none !important;
  }
}

#rightPageRail {
  z-index: 1;
  .segment {
    max-height: 500px;
    overflow-y: scroll;
  }
}
