.spell-property-grid {
    padding-left: 20px !important;
    div {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}

.spell-property-key {
    font-weight: bold;
}

.spell-content-container {
    padding-top: 20px;
    > p {
        padding-left: 20px;
    }
}